.sidebar-container {
  width: 210px;
  .sidebar-menu {
    // background-color: #feefc3;
    border-radius: 0 25px 25px 0;
    align-items: center;
    letter-spacing: 0.01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 48px;
    min-width: 48px;
    overflow: hidden;
    width: 100%;
  }
}
